@media screen and (max-width: 980px){
    .home-page{background: none;}
    .home-page-bg img{height: 100%; width: auto;}

    .pages .page-txt p{display: block; margin: 10px auto 20px;}
}



@media screen and (max-width: 1200px){
    .slide-wrap .pages{padding: 30px;} 
}



@media screen and (max-width: 1150px){
    .center-txt h1{font-size: 50px; }
    .center-txt b{font-size: 100px;}
    .center-txt b{font-size: 80px; margin-top: -20px; display: inline-block;}
    .center-txt em{float: none;}

    .pjImg-01{display: none;}
    .pjImg-02{display: block;}

    .page-img.mobile{padding-right: 0;}

}

@media screen and (max-width: 1100px){
    .slide-wrap.all .page-box .page{width: 50%;}
    .pages .page-img{width: auto;}
    .about-info .about-txt{padding-right: 0; float: left;}
    .about-face{width: 25%; float: left;}
    
    .about-page .info-box .about-info{display: block;}
    .about-wrap{display: block; float: none; margin: auto; width: 100%; padding: 5px; overflow: hidden;}
    

    .Ed-title{margin-top: 50px; clear: both;}

    .Ed-title h1{display: inline-block; padding-right: 20px; margin-bottom: 0;}
    .Ed-title p{display: inline-block; }
    .ed-p1{margin-right: 20px;}

    .sk-title{_text-align: center; font-weight: 500; font-size: 35px;}
    
    .skills-info{width: 100%; clear: both;}

    .pj-content p{padding-right: 15%;}

}
@media screen and (max-width: 1050px){

    .project-page .works-background{height: 100%;}
    .project-wrap{display: block;}
    .pj-img{width: 90%;  margin: auto;}
    .pj-img .img-box{height: 350px;}
    .pj-conBox{width: 100%; box-shadow: 1px 1px 7px #555;}

    .project-wrap.second .pj-img{ margin: auto !important;}
    
}



@media screen and (max-width: 980px){
    .click i{font-size: 25px;}
    .click.one{margin-right: 6px;}
    .button-group button{font-size: 16px;}

    .slide-wrap .pages{display: block;}
    .page-title h1 {font-size: 30px; margin-bottom: -10px;}
    .page-title span{width: 45px; height: 2px; margin-top: -20px;}

    .pages .page-txt h1{display: inline-block; margin-bottom: 0;}
    .pages .page-img{margin: auto;}
    .pages .page-txt{padding-left: 0; width: 100%; text-align: center;}
    .lan{text-align: center; display: block;}
    .lan span{display: inline-block; float: none;}
    

    .view-link{margin-top: 20px;}
    .pages .page-txt.pc{width: 100%;}
    .pj-info-wrap{text-align: center;}
    .pj-info-txt{padding-top: 75px;}
    .pj-content p{padding-right: 0;}



}
@media screen and (max-width: 870px){
    .contact-wrap{display: block;}
    .side-contact{text-align: center; width: auto;}
    .call-numbers{padding-left: 0; display: inline-flex; width: auto;}
    .call-numbers a{display: inline-block; margin-left: 0;}
    .call-numbers>div{width: 200px;}
    .contact-box{margin: auto; width: 500px; }

    .contact-page form input{font-size: 15px;}
    textarea{font-size: 15px;}
    .submit-button{float: none; margin: auto; display: block;}

    .call-numbers a{margin-top: 10px;}
    .call-numbers p{margin-top: 17px;}
    
    .about-face{width: 180px;}

    .call-numbers{animation-name: callnum2; animation-delay: 0.2s;}
    .contact-box{animation-name: contac2; animation-delay: 0.2;}
    .wp-info-txt{margin-bottom: 40px;}
}


@media screen and (max-width: 860px){
    .menu .logo{display: flex;}
    .logo-text{display: block;}
    .logo{display: none;}
    .sub-txt{float: right;}

    header{background: #fff;  border-bottom: 1px solid #ccc;}
    header.on .gnb{background: #1b242f;}
    
    .menu-bg.on{position: fixed;  top: 50px; bottom: 0; right: 0; left: 0; background: rgba(0, 0, 0, 0.295); z-index: -9;transition: all 0.2s;}

    header.on .menu-bg.on{top: 70px;}

    .menu{position: relative;}
    .gnb{position: fixed; text-align: center; display: block; transition: all 0.2s; border-left: 1px solid #eee; border-top: 1px solid #eee;  margin-right: 0;
        top: 50px; right: -500px; bottom: 0; width: 50%; list-style: none; background: #fff;}
    .gnb.on{right: 0;}
    header.on .gnb{ border: none;}

    .gnb li{display: block;}
    .mobile-btn{display: block; margin-top: 12px; margin-right: 20px;}
    .go-contact{display: inline-block !important;}


    .view-all{padding: 0 40px;}

    .about-topTxt b{font-size: 35px;}
    .about-topTxt p{font-size: 20px;}
    #loader .logo{display: block !important;}
}

@media screen and (max-width: 800px){
   
    .skill-box{display: block; width: 46%; float: left;}
    .skill-box:nth-child(1){margin-right: 8%;}
    .skill-icon{width: 100%;}

    .skills-info{overflow: hidden; margin-bottom: 80px;}
    .sk-title{margin-top: 0; margin-bottom: 30px;}

    .pj-move-btn{height: 60px; right: 0; top: -30px;}

    .about-info .about-txt{padding-left: 25px;}
    .page-img.mobile img{height: 380px;}
   



}

@media screen and (max-width: 760px){
    .about-page{padding: 0 40px;}
    .page-img.mobile img{height: 350px;}
}


@media screen and (max-width: 750px){
    
}

@media screen and (max-width: 700px){
    .icon-txt h1{font-size: 16px;}
    .skill-box{width: 47%;}
    .skill-box:nth-child(1){margin-right: 6%;}

    .about-face .about-name{display: block; margin-bottom: 0; margin-top: 0;}
    .about-txt .about-name{display: none;}

    .about-info .about-txt{width: 50%;}
    .about-info .about-txt>p{font-size: 14px;}
    .icon-txt span{font-size: 12px;}

    .pj-info{text-align: center;}
    .pj-content .lan{display: block;}
    .pj-content p{padding-left: 0; padding-right: 0;}

    .pj-move-btn{width: 214px; height: 54px; right: 0; top: -30px;}

    .page-img.mobile img{height: 310px;}
}
@media screen and (max-width: 680px){
    .center .page-title{float: none;}
    .pj-info-txt{margin-left: 0; float: none; text-align: center; padding-top: 40px;}

}


@media screen and (max-width: 650px){
    .slide-wrap.all .page-box .page{width: 100%;}
    footer p{font-size: 13px;}
}

@media screen and (max-width: 600px){
    .contact-box{width: 100%;}
    .pj i{font-size: 23px;}

    .about-topTxt p{font-size: 16px; font-weight: 400;}
    .about-topTxt b{font-size: 30px;}
    .about-topTxt{margin-bottom: 60px;}

    .page-img.mobile img{height: 240px;}
}

@media screen and (max-width: 530px){
    .pj-info{padding: 50px 30px;}
}

@media screen and (max-width: 500px){
    .contact-wrap{padding: 0 15px;}
    .call-numbers>div{width: auto;}
    .call-numbers>div:nth-child(2){margin-left: 20px;}
    .call-numbers h1{font-size: 20px;}

    .about-face{width: 160px;}
    .about-name h1{font-size: 20px;}
    .about-name p{font-size: 10px;}

    .icon-fill{height: 8px;}

    .button-group button{font-size: 15px; width: 135px;}


    .about-topTxt p{font-size: 15px; font-weight: 400;}
    .about-topTxt b{font-size: 25px;}
    .about-topTxt{margin-bottom: 30px;}

    .page-img.mobile img{height: 190px;}

}


@media screen and (max-width: 480px){
    .pages .page-img {width: 80%; margin-top: 10px;}
    .pages .page-txt b{font-size: 25px;}
    .pages .page-txt h1{font-size: 20px;}
    .pages .page-txt p{margin-bottom: 10px;}
    .pages .page-txt .info-p{font-size: 13px;}
    .lan span{font-size: 12px; font-weight: 400;}
    .page-img.mobile img{height: 140px;}

    
    .git-img{height: 20px;}
}

@media screen and (max-width: 450px){
    .Ed-title h1{font-size: 20px;}
    .Ed-title p{font-size: 13px;}


   
    .about-face{float: none; margin: auto; width: 140px;}
    .about-info .about-txt{float: none; text-align: center; margin-top: 20px; width: 100%; margin-left: 0;}
    .about-face .about-name{text-align: center;}
    .about-name h1{font-size: 30px;}
    .about-name p{font-size: 15px;}
    .about-topTxt{margin-bottom: 20px;}

    .about-topTxt b{font-size: 25px;}
    .about-topTxt p{font-size: 15px;}
    
    .sk-title{font-size: 28px;}
    .skill-box{float: none; width: 100%; margin-bottom: 0;}
    .skill-box:nth-child(1){margin-right: 0;}
    
    .pages-bg-wrap{width: 90%;}
    .swiper-button-prev{display: none;}
    .swiper-button-next{display: none;}

    .view-all{padding: 0 20px;}
    
}


@media screen and (max-width: 430px){
    .call-numbers p{font-size: 14px;}
    .call-numbers a{width: 35px;}
    .contac-txt{font-size: 13px;}

    .pj-content h1:nth-child(1){margin-bottom: -5px;}
    .wp-info-txt{font-size: 14px;}
}

@media screen and (max-width: 400px){
    .Ed-title{padding-left: 0; border-left: none; _text-align: center;}
    .Ed-title p{margin-bottom: 5px;}
    .Ed-title h1{padding-right: 0; font-size: 25px; margin-bottom: 20px;}

    .pj-content .view-link{width: 100%;}
    .pj-info-txt{font-size: 15px;}
}


@media screen and (max-width: 380px){
    .pages .page-txt h1 {font-size: 18px;}
    .slide-wrap .pages{padding: 9px;}
    .pages .page-txt p{padding: 0 5px;}
    .view-link.works{margin: auto; margin-top: 20px; width: 90%;}

    footer p{font-size: 12px;}
    .about-page{padding: 0 25px;}

    .button-group button{width: 100px; font-size: 14px;}

    .slide-wrap.all .page-box .page{height: 260px;}

    .page-info{font-size: 14px !important; margin-top: 10px !important;}

    .wp-info-txt{font-size: 12px;}
}

@media screen and (max-width: 350px){
    .pages-bg-wrap{width: 95%;}

    .icon-txt h1{font-size: 15px;}
    .icon-fill{height: 7px;}
    
    .view-all{padding: 0 5px;}
}