@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Jost','Noto Sans KR' , sans-serif;}

ul, ol{list-style: none;}
a{text-decoration: none;}
.center{overflow: hidden; max-width: 1200px; width: 100%; margin: auto;}

body{padding-top: 1px;}

section{width: 100%; height: 100vh;}
.page-title{text-align: center; padding-top: 60px; position: relative; z-index: 2; display: block;}
.page-title h1{font-size: 40px; color: #555; font-weight: 400;}
.page-title span{display: inline-block; height: 3px; width: 60px; background: #555;}

.center .page-title{float: left;}

/* header style */
header{_border: 1px solid red; width: 100%; background: transparent; position: fixed; top: 0; z-index: 999; transition: all 0.2s;}
.menu .logo{ display: none; align-items: center; float: left; margin-top: 6px; margin-left: 5%;}
.menu .logo h1{margin-top: -5px; margin-bottom: -5px;}
.menu .logo span{font-size: 18px;}

.menu.on .logo{border-color: #fff;}
.menu.on .logo h1{color: #fff;}
.menu.on .logo span{color: #fff;}


.menu{width: 100%; height: 50px; position: relative; _transition: all 0.2s ease-in-out;}


.gnb{list-style: none; position: relative; display: table; margin: 0 auto;}
.gnb li{display: inline-block; padding: 5px 0;}
.gnb li a{color: #777; display: block; padding: 5px 50px; font-weight: 400; font-size: 20px;}
.gnb li a:hover{animation-name: menu; animation-duration: .8s;}

.gnb span{position:absolute; width:100%; height:2px; background:#777; left:0; bottom:0;}


@keyframes menu{
  0%{transform: scale(1);}
  50%{transform: scale(1.2);}
  100%{transform: scale(1);}
}

header.on .mobile-btn>span{background: #fff;}
.mobile-btn{_border: 1px solid red; display: none; width: 25px; height: 25px; float: right; cursor: pointer;}
.mobile-btn span{display: block; width: 100%; height: 3px; background: #777; }
.mobile-btn span:nth-child(2){margin: 7px 0;}

header.on{background: #1b242f; padding: 10px 0; border-bottom: transparent; box-shadow: 1px 1px 10px 1px #000;}


header.on li a{color: #fff;}
header.on .gnb > span{position:absolute; width:100%; height:2px; background:#fff; left:0; bottom:0;}
.menu.on{background: transparent; _margin: 10px 0;}

.go-contact a{background: #3f60fa; color: #fff !important;}




/* move top */
.move-top{border-radius: 10px; position: fixed; transform: scale(1.2); transition: all .5s; opacity: 0; top: 85%; right: 10%;background: #3f60fa; z-index: 999;}
.move-top span i{font-size: 30px; padding: 10px 15px;  color: #eee;}
.move-top.on:hover{transform: scale(1.2); transition: all .5s;}

.move-top.on{transform: scale(1); opacity: 1;}

/* home-page */
.home-page{background: none; background: url(../img/Savin-NY-Website-Background-Web.jpg);}

.logo-text{padding-top: 70px; box-sizing: border-box; width: 90%; margin: auto; display: flex; align-items: center; justify-content: space-between;}
.sub-txt{color: #555; font-weight: bold;}
.logo{ border: 2px solid gray; color: #555; text-align: center;}
.logo h1{margin-bottom: -10px; font-size: 30px; color: #3f60fa; text-shadow: 4px 1px 1px rgb(185, 169, 169);}
.logo span{font-size: 10px; padding: 0 5px; font-weight: bold;}

.center-txt{position: absolute; top: 45%; left: 50%; text-align: center; transform: translate(-50%, -50%);}
.center-txt h1{font-size: 70px; color: #555; font-weight: 400;}
.center-txt b{text-shadow: 5px 3px 1px #ccc; top: 5px; font-size: 120px; position: relative; font-weight: bold; color: #3f60fa;}
.center-txt em{ color: #777; font-size: 15px; font-weight: 500; float: right; font-style: normal;}

.scroll-alert{animation-name: scrollDown; animation-duration: 2s; animation-iteration-count:infinite; position: absolute; left: 50%; transform: translateX(-50%); top: 80%; width: auto; height: auto; text-align: center;}
.scroll-alert h1{transform: rotate(-90deg); padding-bottom: 5px; margin: auto; font-size: 14px; color: #555; font-weight: bold;}

.scroll-alert i{font-size: 15px; display:block; color: #555; padding-top: 50px;}
.scroll-alert .scroll-box{position: relative; transition: all 0.4s;}


@keyframes scrollDown{
  0%{top: 80%}
  50%{top: 85%;}
  100%{top: 80%}
}



/* works-page */

.pages-bg-wrap{max-width: 1200px; width: 80%; margin: auto;}

.view-all{transition: all 0.4s; max-width: 1360px; width: 100%; opacity: 0; margin: auto;  position: fixed; padding: 0 80px;}
.pages-wrap{position: relative; display: flex; width: 100%; justify-content: space-between; align-items: center; top: 0;}
.pages-slide{width: 100%; height: auto; box-sizing: border-box; padding: 10px; _background: #8d8d8d;}

.release{animation-name: pageanimation; animation-duration: .8s;}


@keyframes  pageanimation{
  from{transform: scale(1.1);}
  to{transform: scale(1);}
}

.view-all-bg{background: rgb(221, 221, 221);}


.works-page{overflow-x: hidden; height: auto; margin-top: 0px; background: #eee; padding-bottom: 50px;}
.slide-wrap .pages{display: flex; align-items: center; box-sizing: border-box; box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.623); padding: 50px; width: 100%; height: 100%; background: #fff;}
.pages .page-img{width: 65%; height: 100%; overflow: hidden;}
.pages .page-img img{width: 100%; display: flex;} 
.responsive{display: flex; justify-content: space-between; padding-top: 5px;}
.responsive img{width: 100%;}
.tablet {width: 50%;}
.mobile {width: 30%;}

.swiper-slide{transition: all 0.4s; transition-delay: 0.2s;}
.swiper-slide-active{transform: scale(1);}
.swiper-slide-prev{transform: scale(0.8);}
.swiper-slide-next{transform: scale(0.8);}


.pages .page-txt{width: 35%; height: auto; box-sizing: border-box; padding-left: 40px;}
.pages .page-txt b{font-size: 40px;}
.pages .page-txt h1{margin-bottom: 15px; color: #555; font-weight: 500;}
.pages .page-txt p{color: #777; margin-bottom: 20px;}



.view-link{transition: all 0.1s; margin-right: 10px; display: inline-block; position: relative; border: 1px solid #555; overflow: hidden; padding: 10px 0; width: 150px; text-align: center; }
.view-link span{position: relative; font-weight: 500; color: #555; transition: all 0.4s;}
.view-link:before{transform: translate3d(0,101%,0); transition: all 0.2s ease-in-out;  content: ''; position: absolute; width: 100%; height: 100%; background: #3f60fa; top: 0; left: 0;}
.view-link:hover::before{transform: none;}
.view-link:hover span{color: #fff;}
.view-link:hover{border: 1px solid #3f60fa;}

.view-link.works{width: 100%;}

.lan{display: flex; margin-bottom: 20px;}
.lan span{margin-right: 10px; font-size: 14px; border-radius: 5px; font-weight: bold; background: #555; color: #fff; padding:3px 10px; display: block;}



/* 슬라이드 좌우 이동버튼 */
.swiper-button-next i{transition: all .3s; color: #777;  text-align: center; font-size: 40px;}
.swiper-button-next{outline: none;}
.swiper-button-next:hover i{transform: scale(1.5); color: #555; }


.swiper-button-prev i{transition: all .3s; color: #777;  text-align: center; font-size: 40px;}
.swiper-button-prev{outline: none;}
.swiper-button-prev:hover i{transform: scale(1.5); color: #555;}

.swiper-button-prev::after{content: '';}
.swiper-button-next::after{content: '';}



/* 뷰 전환 버튼 */
.view-change-wrap{z-index: 99; overflow: hidden; max-width: 1200px; padding: 20px 0px; width: 80%; margin: auto; _border: 1px solid greenyellow;}
.view-change-box{display: flex; float: right; _border: 1px solid red;}

.click i{color: #fff; font-size: 35px; padding: 10px; transition: all 0.2s;}
.click:hover i{transform: scale(1.2);}
.click.one{margin-right: 15px;}

.click.active {border: 2px solid #fff; animation-name: jj; animation-duration: 0.2s;}
.click.active:hover i{transform: none;}

@keyframes jj {
    0% {
        transform: scale(0.5);
      
      }
    100% {
        transform: scale(1);
       
      }
}




/* 카테고리 나누기 */
.button-group{margin-bottom: 20px; width: 100%; text-align: center;}
.button-group button{margin: auto; background: transparent; border: none; color: #eee; font-size: 20px; outline: none; width: 150px; padding: 7px 0; margin: 5px 5px;}
.button-group button.active{background: #3f60fa; color: #fff; animation-name: btn-active; animation-duration: .3s;}
@keyframes btn-active{
  0% {
    transform: scale(1.2);
  
  }
100% {
    transform: scale(1);
   
  }
}

/* 타이틀 */
.works-pages{height: auto; overflow: hidden; padding-bottom: 100px; }
.works-background{transition: all 0.5s; z-index: 1;  background: #1b242f; width: 100%; height: 50%; position: absolute;}


/* 전체 뷰 적용 코드 */

.slide-wrap.all{margin: auto; _border: 1px solid greenyellow; position: relative; z-index: 99;}
.slide-wrap.all .slide-box{_border: 1px solid rgb(255, 47, 47); max-width: 1400px; width: 100%; margin: auto;}
.slide-wrap.all .page-box{box-sizing: border-box; _border: 1px solid red; _overflow: hidden; _box-shadow: 1px 1px 10px 1px #999; width: 100%; height: 100%;}
.slide-wrap.all .page-box .page{width: 33.33%; text-align: center; float: left; display: table; height: 300px;}


.page-hover{transition: all 0.4s; width: 100%; height: 100%; opacity: 0; background:#eee; position: absolute; display: table-cell; align-items: center; vertical-align: middle;}
.page-hover>div{transition: all 0.2s; margin-bottom: 20px; position: absolute; top: 0; text-align: center; width: 100%;}
.page-hover>div P{color: #3f60fa; font-size: 13px;}
.page-hover a{transition: all 0.2s; position: absolute; display: block; margin: 0 auto; left: 0; right: 0; bottom: 0; border: 1px solid #3f60fa; color: #777;  padding: 10px; }


.page-box .page:hover .page-hover{opacity: 1;}
.page-box .page:hover .page-hover>div{transform: translateY(80px);}
.page-box .page:hover .page-hover a{transform: translateY(-80px);}


.grid-item>div{width: 100%; height: 100%; position: relative; box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.623);}


.grid-item.one>div{background: url(../img/viewAll/K-001.jpg); background-size: cover;}
.grid-item.two>div{background: url(../img/viewAll/K-002.jpg); background-size: cover;}
.grid-item.three>div{background: url(../img/viewAll/K-003.jpg); background-size: cover;}
.grid-item.four>div{background: url(../img/viewAll/K-004.jpg); background-size: cover;}
.grid-item.five>div{background: url(../img/viewAll/K-005.jpg); background-size: cover;}
.grid-item.six>div{background: url(../img/viewAll/K-006.jpg); background-size: cover;}

.grid-item{box-sizing: border-box; padding: 10px;}



/* project-page */

.project-page{background: #eee; padding-bottom: 50px; padding: 0 70px 70px 70px;}

.project-wrap{padding-top: 30px; position: relative; display: flex; align-items: center; max-width: 1200px; width:100%; margin: auto;  height: auto; box-sizing: border-box;}

.pj-conBox{width: 50%; background: #eee; z-index: 1; position: relative;}
.pj-info{width: 100%; padding:50px 65px; box-sizing: border-box; animation-name: fadeInLeft; animation-delay: 1s; animation-duration: 1s; height: auto;  background: #fff; box-shadow: 1px 1px 10px #555;}

.pj-info-wrap{display: flex; width: 100%; overflow: hidden;}
.pj-content{flex-shrink: 0; width: 100%; transform: translateY(0);}

.pj-content h1{font-size: 50px; color: #555; margin-bottom: 20px;}
.pj-content p{margin-bottom: 50px; _border: 1px solid red; padding-right: 30%;}

.pj-img{width: 55%; height:600px; display: table; background: #aaa; position: relative; margin-bottom: 20px; margin-left: -5%; box-shadow: 1px 1px 10px #000; animation-name: fadeInRight; animation-delay: 1s; animation-duration: 1s;}
.pj-img .img-box{overflow: hidden; width: 100%; height: 100%;}
.pj-img img{width: 100%; display: block; }


.pj-move-btn{display: flex; align-items: center; width: 200px;  height: 80px; background: #555; position: absolute; right: 0; bottom: -40px; transform: translateX(50%); z-index: 99;}
.pj i{color: #fff; font-size: 30px; width: 80px; padding: 10px 0; text-align: center; transition: all 0.3s;}
.pj{margin: auto;}
.pj:hover i{transform: scale(1.5);}


/* about-page */
.center-line{width: 1px; height: 500px; background: #ccc;}

.about-page{background: #fff; overflow: auto; padding: 0 70px;}

.about-page .info-box{width: 100%; max-width: 1200px; _border: 1px solid #eee; position: relative; margin: auto; height: auto; margin-top: 40px; background: #fff;}
.about-page .info-box .about-info{width: 100%; height: 100%;  box-sizing: border-box; padding-top: 20px; display: flex;}
.about-wrap{display: flex; float: left; width: 60%;}
/* about-topTxt */

.about-topTxt{ margin-bottom: 80px;}
.about-topTxt p{font-size: 25px; font-weight: 500; color: #555;}
.about-topTxt b{font-size: 50px; color: #3f60fa; text-shadow: 2px 1px 1px #ccc; font-family: sans-serif;}

/* about face */
.about-face{width: 35%;}
.about-face .face-img{width: 100%; margin-left: 5px; position: relative; display: table;}
.face-img:before{content: ''; position: absolute; width: 100%; height: 100%; box-sizing: border-box; top: -5px; right: 8px; border: 3px solid #3f60fa;;}
.face-img img{width: 100%;  display: block;}
.about-face .about-name{display: none;}

.about-name{margin-bottom: 20px; margin-top: -10px; color: #555; }
.about-name h1{padding-bottom: 20px; font-size: 30px; margin-right: 5px; font-weight: 400; display: inline-block;}
.about-name span{font-weight: bold; color: #555;}
.about-name p{color: #3f60fa; font-size: 15px; margin-top: -30px; font-weight: 500;}



/* about info txt */
.about-info .about-txt{color: #777; box-sizing: border-box; margin-left: 20px; padding-right: 20px; width: 60%; _border: 1px solid #eee;}
.about-info .about-txt p{font-size: 15px;}
.about-info .about-txt>p{font-size: 16px;}


.Ed-title{margin-bottom: 50px; display: table; padding-left: 20px; width: auto; border-left: 7px solid #aaa;}
.Ed-title h1{margin-bottom: 20px; font-size: 30px; color: #555;}
.Ed-title p{margin-bottom: 10px; font-size: 14px; color: #777;}


/* about skills-info */
.skills-info{ width: 100%; max-width: 1200px; margin: auto; box-sizing: border-box;  height: auto; margin-bottom: 150px;}
.sk-title{font-size: 40px; font-weight:600; color: #555; width: auto; margin-top: 80px; margin-bottom: 50px;}

.skill-box{width: 100%; background: #fff; height: auto; display: flex; margin-bottom: 50px; justify-content: space-between; }
.skill-icon{width: 30%; position: relative;}

.icon-txt{display: flex; align-items: center; justify-content: space-between;}
.icon-txt h1{text-transform: uppercase; font-weight: 400; font-size: 20px; margin-bottom: 10px; color: #555; display: inline-block; }
.icon-txt span{font-size: 15px; font-weight: 500; color: #999;}


.icon-fill{border-radius: 20px; overflow: hidden; height: 10px; display: flex; justify-content: space-between; background: #eee;}
.icon-fill .fill{background: #3f60fa;}


/* contact-page */

.contact-page{background: #1b242f; width: 100%; height: auto; overflow: hidden; position: relative; padding-bottom: 80px;}


.contac-txt{padding: 40px 10px; text-align: center; font-size: 15px; color: #eee; }
.contac-txt i{padding-top: 20px;}

.contact-wrap{width: 100%; margin: auto; margin-top: 50px; display: flex; flex-direction: row-reverse; position: relative; padding: 0 40px;}
.contact-page form{width: 100%; display: block;  box-sizing:border-box; padding:0 10px;}

@keyframes contac {
  0%{opacity: 0; transform:  translate(300px, -300px);}
  50%{opacity: 1; transform:  translate(300px);}
  100%{transform:  translateX(0);}
}

.side-contact{width: 50%; overflow: hidden;}

.contact-box{animation-name: contac; animation-duration: 0.8s; width: 50%;}


form ul li{position: relative; padding: 0; margin: 0; list-style: none; margin-bottom: 10px; overflow: hidden; display: block;}

.input-label:before{content: ''; position: absolute;  bottom: 0;  left: 0;  width: 100%;  height: 1px;}
.input-label:after{transform: translate3d(-100%,0,0); border-bottom: 2px solid #3fa0fa;  content: '';  position: absolute; bottom: 0; left: 0%; width: 100%; height: 1px; transition: all 0.4s;}

input:focus+.input-label:after{transform:translate3d(0,0,0)}
input:hover+.input-label:after{transform:translate3d(0,0,0)}

textarea:focus+.input-label:after{transform:translate3d(0,0,0)}
textarea:hover+.input-label:after{transform:translate3d(0,0,0)}


input{background: #2d363f; color: #8d8d8d; font-family: sans-serif; transition: all 0.4s; font-size: 20px; display: block; width: 100%; padding: 10px; outline: none; border: none; box-sizing: border-box; }

textarea{position: relative; transition: all 0.4s; color: #8d8d8d; background: #2d363f; font-size: 20px; font-family: sans-serif; display: block;  width: 100%; height: 200px; box-sizing: border-box; border: none; padding: 10px; resize: none; outline: none;}


.submit-button{position: relative; padding: 10px 50px; outline: none; overflow: hidden; background: #3f60fa; border: 1px solid #3f60fa; float: right; transition: all 0.2s ease-in-out;}
.submit-button:before{transform: translate3d(0,100%,0); transition: all 0.2s ease-in-out;  content: ''; position: absolute; width: 100%; height: 100%; background: #1b242f; top: 0; left: 0;}
.submit-button:hover::before{transform: none;}
.submit-button span{color: #1b242f; letter-spacing: 1px; font-size: 20px; font-weight: 400; position: relative; transition: all 0.2s ease-in-out;}
.submit-button:hover span{color: #3fa0fa;}
.submit-button:hover{border: 1px solid #3fa0fa;}




.call-numbers{width: 100%; height: 100%; box-sizing:border-box; padding-left: 20px; opacity: 0; animation-fill-mode: forwards; animation-name: callnum; animation-delay: 0.8s; animation-duration: 0.6s;}
.call-numbers>div{margin-bottom: 60px;}
.call-numbers h1{color: #3fa0fa; font-size: 30px; font-weight: 400; margin-top: -8px;}
.call-numbers p{font-size: 20px; color: #c2c2c2; margin-top: 10px;}
.call-numbers a{width: 50px; display: block; margin-top: 20px; margin-left: 10px;}
.call-numbers a img{width: 100%;}

@keyframes callnum{
  0%{transform: translateX(-300px);}

  100%{opacity: 1; transform: translateX(0);}
}


footer{bottom: 0; width: 100%; height: 100px; background: #0f151b; display: flex; align-items: center; text-align: center; padding: 0 20px;}

footer p{color: #777; margin: auto;}

.footer-bt{width: 100%; height: 30vh; background: #24292b;}