@import url('https://fonts.googleapis.com/css2?family=Alata&family=PT+Sans+Caption&family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Jost', sans-serif;}

ul, ol{list-style: none;}
a{text-decoration: none;}
.center{overflow: hidden; max-width: 1200px; width: 100%; margin: auto;}

section{width: 100%; height: 100vh;}
.page-title{text-align: center; position: relative; z-index: 2; display: block; padding-top: 100px;}
.page-title h1{font-size: 40px; color: #555; font-weight: 400;}
.page-title span{display: inline-block; height: 3px; width: 60px; background: #555;}

.center .page-title{float: left;}

/* header style */
header{ position: fixed; z-index: 999; top: 0;  width: 100%; height: auto; background:transparent; transition: all 0.2s ease-in-out;}
.gnb{position: relative; width: auto; display: table; margin: auto;  }
.gnb li{display: inline-block; padding: 5px 0;}
.gnb li a{color: #777; display: block; padding: 5px 50px; font-weight: 400; font-size: 20px;}
.gnb span{position:absolute; width:100%; height:2px; background:#777; left:0; bottom:0;}

header.on{background: #1b242f; padding: 10px; box-shadow: 1px 1px 10px 1px #000;}
header.on li a{color: #fff;}
header.on span{position:absolute; width:100%; height:2px; background:#fff; left:0; bottom:0;}

.go-contact a{background: #3f60fa; color: #fff !important;}




/* move top */
.move-top{transition: all 0.2s ease-in; position: fixed; top: 90%; right: 10%;background: #3f60fa;; z-index: 999;}
.move-top span i{font-size: 30px; padding: 10px; color: #eee;}
.move-top:hover{background: #315f94; transform: scale(1.1);}

/* home-page */
.home-page{background: none; background: url(../img/Savin-NY-Website-Background-Web.jpg);}

.logo-text{padding-top: 5%; box-sizing: border-box; width: 90%; margin: auto; display: flex; align-items: center; justify-content: space-between;}
.sub-txt{color: #555; font-weight: bold;}
.logo{ border: 2px solid gray; color: #555; text-align: center;}
.logo h1{margin-bottom: -10px; font-size: 30px; color: #3f60fa; text-shadow: 4px 1px 1px rgb(185, 169, 169);}
.logo span{font-size: 10px; padding: 0 5px; font-weight: bold;}

.center-txt{position: absolute; top: 45%; left: 50%; text-align: center; transform: translate(-50%, -50%);}
.center-txt h1{font-size: 70px; color: #555; font-weight: 400;}
.center-txt b{text-shadow: 5px 3px 1px #ccc; top: 5px; font-size: 120px; position: relative; font-weight: bold; color: #3f60fa;}
.center-txt em{ color: #777; font-size: 15px; font-weight: 500; float: right; font-style: normal;}

.scroll-alert{position: absolute; left: 50%; transform: translateX(-50%); top: 80%; width: auto; height: auto; text-align: center;}
.scroll-alert h1{transform: rotate(-90deg); padding-bottom: 5px; margin: auto; font-size: 14px; color: #555; font-weight: bold;}

.scroll-alert i{font-size: 15px; display:block; color: #555; padding-top: 50px;}
.scroll-alert .scroll-box{position: relative; transition: all 0.4s;}





/* works-page */


.pages-wrap, .view-all{margin-bottom: 100px;}
.view-all{transition: all 0.4s; max-width: 1000px; width: 100%; margin: auto;  position: relative; animation-name: pageanimation; animation-duration: .8s;}
.pages-wrap{position: relative; display: flex; width: 100%; justify-content: space-between; align-items: center; top: 0; animation-name: pageanimation; animation-duration: .8s;}
.pages-slide{max-width: 1000px; width: 100%;}


@keyframes  pageanimation{
  from{transform: scale(1.1);}
  to{transform: scale(1);}
}

.works-page{height: auto;}
.slide-wrap .pages{display: flex; box-sizing: border-box;  box-shadow: 1px 1px 10px 1px #999; padding: 40px; width: 100%; height: 100%; background: #fff;}
.pages .page-img{width: 50%; height: 100%; overflow: hidden;}
.pages .page-img img{width: 100%; display: flex;} 
.responsive{display: flex; justify-content: space-between; padding-top: 5px;}
.responsive img{width: 100%;}
.tablet {width: 50%;}
.mobile {width: 30%;}



.pages .page-txt{width: 50%; height: auto; box-sizing: border-box; padding: 50px;}
.pages .page-txt b{font-size: 40px;}
.pages .page-txt h1{margin-bottom: 15px; color: #555; font-weight: 500;}
.pages .page-txt p{color: #777; margin-bottom: 20px;}

.view-link{transition: all 0.1s; margin-right: 10px; display: inline-block; position: relative; border: 1px solid #555; overflow: hidden; padding: 10px 0; width: 150px; text-align: center; }
.view-link span{position: relative; font-weight: 500; color: #555; transition: all 0.4s;}
.view-link:before{transform: translate3d(0,101%,0); transition: all 0.2s ease-in-out;  content: ''; position: absolute; width: 100%; height: 100%; background: #3f60fa; top: 0; left: 0;}
.view-link:hover::before{transform: none;}
.view-link:hover span{color: #fff;}
.view-link:hover{border: 1px solid #3f60fa;}

.lan{display: flex; margin-bottom: 20px;}
.lan span{margin-right: 10px; font-size: 14px; border-radius: 5px; font-weight: bold; background: #555; color: #fff; padding:3px 10px; display: block;}



/* 슬라이드 좌우 이동버튼 */
.move-btn i{transition: all .3s; color: #777; padding: 20px 30px; text-align: center; font-size: 40px; _border: 1px solid red;}
.move-btn:hover i{transform: scale(1.5); color: #555;}


/* 뷰 전환 버튼 */
.view-change-wrap{z-index: 99; overflow: hidden; max-width: 1000px; width: 100%; margin: auto; _border: 1px solid greenyellow; margin-bottom: 20px;}
.view-change-box{display: flex; float: right; _border: 1px solid red;}

.click i{color: #fff; font-size: 35px; padding: 10px; transition: all 0.2s;}
.click:hover i{transform: scale(1.2);}
.click.one{margin-right: 15px;}

.click.active {border: 2px solid #fff; animation-name: jj; animation-duration: 0.2s;}
.click.active:hover i{transform: none;}

@keyframes jj {
    0% {
        transform: scale(0.5);
      
      }
    100% {
        transform: scale(1);
       
      }
}




/* 카테고리 나누기 */
.button-group{_border: 1px solid greenyellow; margin-bottom: 10px; width: 100%; text-align: center;}
.button-group button{ margin: auto; background: transparent; border: none;color: #fff; font-size: 20px; outline: none; padding: 10px 20px; margin: 10px 10px;}
.button-group button.active{background: #3f60fa; color: #fff; animation-name: btn-active; animation-duration: .3s;}
@keyframes btn-active{
  0% {
    transform: scale(1.2);
  
  }
100% {
    transform: scale(1);
   
  }
}

/* 타이틀 */
.works-pages{height: auto; overflow: hidden; padding-bottom: 100px; }
.works-background{transition: all 0.5s; z-index: 1; background: #1b242f; width: 100%; height: 50%; position: absolute;}



/* 전체 뷰 적용 코드 */

.slide-wrap.all{margin: auto; _border: 1px solid greenyellow; position: relative; z-index: 99;}
.slide-wrap.all .slide-box{_border: 1px solid rgb(255, 47, 47); max-width: 1400px; width: 100%; margin: auto;}
.slide-wrap.all .page-box{box-sizing: border-box; _overflow: hidden; _box-shadow: 1px 1px 10px 1px #999; width: 100%; height: 100%;}
.slide-wrap.all .page-box .page{width: 33.33%; border: 1px solid #777; text-align: center; float: left; display: table; height: 250px; _border: 1px solid #777;}

.page-hover{transition: all 0.4s; width: 100%; height: 100%; opacity: 0; background: #fff; position: relative; display: table-cell; align-items: center; vertical-align: middle;}
.page-hover>div{transition: all 0.2s; margin-bottom: 20px; position: absolute; top: 0; text-align: center; width: 100%;}
.page-hover>div P{color: #3f60fa; font-size: 13px;}
.page-hover a{transition: all 0.2s; position: absolute; display: block; margin: 0 auto; left: 0; right: 0; bottom: 0; border: 1px solid #3f60fa; color: #777;  padding: 10px; }


.page-box .page:hover .page-hover{ opacity: 1;}
.page:hover .page-hover>div{top: 20%;}
.page:hover .page-hover a{bottom: 20%;}



.grid-item.one{background: rgb(190, 195, 204);}
.grid-item.two{background: rgb(187, 189, 192);}
.grid-item.three{background: rgb(170, 169, 172);}




/* project-page */


.project-wrap{position: relative;display: flex; width:80%; margin: auto;  height: auto; box-sizing: border-box; margin-top: 150px;}


.pj-info{width: 50%; padding:50px 50px ; box-sizing: border-box; height: auto; z-index: 1; background: #fff; box-shadow: 1px 1px 10px #555;}
.pj-info .pj-info-update{border: 1px solid red; position: relative; overflow: hidden;}
.pj-info-wrap{display: flex; width: 100%; overflow: hidden;}
.pj-content{ flex-shrink: 0; width: 100%; transform: translateY(0);}

.pj-content h1{font-size: 50px; color: #555; margin-bottom: 20px;}
.pj-content p{margin-bottom: 50px;}

.pj-img{width: 55%; height: auto;display: table; position: relative; margin-top: -135px; margin-bottom: 20px; margin-left: -5%;}
.pj-img .img-box{overflow: hidden;}
.pj-img img{width: 105%; object-fit: cover; display: block;}


.pj-move-btn{display: flex;align-items: center; width: 200px; height: 80px; background: #555; position: absolute; bottom: -20px; left: 50%; transform: translateX(-50%); z-index: 99;}
.pj i{color: #fff; font-size: 30px; width: 80px; padding: 10px 0; text-align: center; transition: all 0.3s;}
.pj{margin: auto;}
.pj:hover i{transform: scale(1.5);}




/* about-page */
.center-line{width: 1px; height: 500px; background: #ccc;}

.about-page{background: #fff; overflow: auto;}

.about-page .info-box{width: 80%; max-width: 1200px; border: 1px solid red; position: relative; margin: auto; height: auto; margin-top: 80px; margin-bottom: 100px; _display: flex; background: #fff;}
.about-page .info-box .about-info{width: 100%; height: 100%; display: flex; justify-content: space-between; box-sizing: border-box; padding-top: 20px;}

/* about-topTxt */
.about-topTxt{text-align: center; border: 1px solid #ccc;  margin-bottom: 100px;}
.about-topTxt p{font-size: 20px; color: #777;}

/* about face */
.about-face{width: 20%; border: 1px solid rgb(33, 189, 216);}
.about-face .face-img{width: 100%; _margin: auto; position: relative; display: table;}
.face-img:before{content: ''; position: absolute; width: 100%; height: 100%; box-sizing: border-box; top: -5px; right: 8px; border: 3px solid #3f60fa;;}
.face-img img{width: 100%;  display: block;}

.about-name{margin-bottom: 40px; margin-top: 10px; color: #555; }
.about-name p{color: #3f60fa; font-size: 15px; margin-top: -30px; font-weight: 500;}
.about-name h1{padding-bottom: 20px; font-size: 50px; margin-right: 5px; display: inline-block;}
.about-name span{font-weight: bold; color: #555;}


/* about info txt */
.about-info .about-txt{color: #555; width: 50%; border: 1px solid red;}
.about-info .about-txt p{font-size: 20px;}


.Ed-title{margin-bottom: 50px; width: 50%;}
.Ed-title h1{margin-bottom: 20px;}
.Ed-title p{margin-bottom: 10px; font-size: 14px; color: #777;}


/* about skills-info */
.skills-info{border: 1px solid blue; width: 100%; display: flex; justify-content: space-between; box-sizing: border-box; padding: 0 50px; margin-top: 100px; height: auto;}
.skills-info .skill{padding: 10px; background: #3f60fa;}

.sk-title{margin-bottom: 20px; width: auto;}
.sk-title h1, .Ed-title h1{font-size: 40px; font-weight:500; color: #555;}



/* contact-page */

.contact-page{background: #1b242f; position: relative;}


.contac-txt{padding: 40px 0; text-align: center; font-size: 15px; color: #53e5ff; }
.contac-txt i{padding-top: 20px;}

.contact-wrap{width: 100%; margin: auto; margin-top: 50px; display: flex; position: relative; _box-shadow: 1px 1px 5px 1px rgb(185, 185, 185); _background: #fff;}

.contact-page form{ width: 50%; display: block; box-sizing:border-box; padding:0 10px;}
form ul li.half{width: 49%; float: left;}
form ul li{position: relative; padding: 0; margin: 0; list-style: none; margin-bottom: 10px; overflow: hidden; display: block;}

.input-label:before{content: ''; position: absolute;  bottom: 0;  left: 0;  width: 100%;  height: 1px;}
.input-label:after{transform: translate3d(-100%,0,0); border-bottom: 2px solid #53e5ff;  content: '';  position: absolute; bottom: 0; left: 0%; width: 100%; height: 1px; transition: all 0.4s;}

input:focus+.input-label:after{transform:translate3d(0,0,0)}
input:hover+.input-label:after{transform:translate3d(0,0,0)}

textarea:focus+.input-label:after{transform:translate3d(0,0,0)}
textarea:hover+.input-label:after{transform:translate3d(0,0,0)}


input{background: #2d363f; color: #8d8d8d; font-family: sans-serif; transition: all 0.4s; font-size: 20px; display: block; width: 100%; padding: 10px; outline: none; border: none; box-sizing: border-box; }

textarea{position: relative; transition: all 0.4s; color: #8d8d8d; background: #2d363f; font-size: 20px; font-family: sans-serif; display: block;  width: 100%; height: 200px; box-sizing: border-box; border: none; padding: 10px; resize: none; outline: none;}


.submit-button{position: relative; padding: 10px 50px; outline: none; overflow: hidden; background: #1b242f; border: 1px solid #53e5ff; float: right; transition: all 0.2s ease-in-out;}
.submit-button:before{transform: translate3d(0,100%,0); transition: all 0.2s ease-in-out;  content: ''; position: absolute; width: 100%; height: 100%; border: 1px solid #53e5ff; background: #53e5ff; top: 0; left: 0;}
.submit-button:hover::before{transform: none;}
.submit-button span{color: #53e5ff; letter-spacing: 1px; font-size: 20px; font-weight: 400; position: relative; transition: all 0.2s ease-in-out;}
.submit-button:hover span{color: #1b242f;}
.submit-button:hover{border: 1px solid transparent;}




.call-numbers{width: 50%; height: 100%; box-sizing:border-box; padding-left: 20px;}
.call-numbers>div{margin-bottom: 60px;}
.call-numbers h1{color: #53e5ff; font-size: 30px; font-weight: 400; margin-top: -8px;}
.call-numbers p{font-size: 20px; color: #c2c2c2; margin-top: 10px;}
.call-numbers a{width: 50px; display: block; margin-top: 20px; margin-left: 10px;}
.call-numbers a img{width: 100%;}



footer{bottom: 0; width: 100%; height: 100px; background: #0f151b; display: flex; align-items: center; text-align: center;}

footer p{color: #777; margin: auto;}

.footer-bt{width: 100%; height: 30vh; background: #24292b;}